body{text-align:center; font-family:Microsoft YaHei ! important;background:#e4c390;}

td{border:solid #add9c0; border-width:0px 1px 1px 0px; padding:10px 0px; font-size:13px}
table{border:solid #add9c0; border-width:1px 0px 0px 1px;}

.kuang{margin:0 auto;background-color:#fff;border-radius:6px;max-width:680px;text-align:left;}
.kuang1{margin:0 auto;background-color:#ffffff;border-radius:6px;max-width:680px;text-align:left;}
.kuang2{ margin:0 auto;background-color:#efefef;border-radius:6px; border:solid #008000 2px;color:#ff0000;max-width:680px;text-align:left;}
.kuang3{margin:0 auto;max-width:680px;text-align:left;}
.con{margin:10px;}
.con img{max-width:100%;}
.con h2{ margin:0; background:#fff; color:#008000; text-indent:5px; padding:10px 0; font-size:1.2rem}
.con h3{ margin:0; background:#df4444; color:#FFFFFF; text-indent:5px; padding:2px 0}
h1{margin:0 auto;color:#000000;font-weight: bolder;font-size:1.1rem; padding:5px 0}
.con p {margin-bottom:20px; line-height:28px;}
.con p span{color:#c10000; font-weight:bold;}
.spanbgyellow{background:#ffff00; color:#c10000;}
.spanyellow{color:#ffff00;}
.spanbg8{color:#FFFFFF;background:#ff; padding:2px 6px;}
#clear{ height:20px;}
.jzlm{background-color:#F4FFF4; color:#666; padding:5px 10px; margin:5px 0}

.float_qb dl,.float_qb dd,.float_qb p{ margin:0; padding:0; list-style:none; text-align:left}
.float_qb{ position:fixed; z-index:1000; bottom:0; width:100%; left:0; background:#fcfcfc; padding:5px 10px; line-height:22px; color:#000; font-weight:normal; border:#eee 1px solid; box-sizing:border-box; font-size:14px;}
.float_qb h5{ font-weight:bold; font-size:16PX;}
.float_qb dt{ float:left; width:40px; margin-right:10px;}
.float_qb dt img{ width:100%;}
.float_qb dd{ overflow:hidden;}
.float_qb dd span{ background:#F00; color:#fff; font-weight:bold; padding:0 5px; font-weight:bold; font-size:20px;}